/* Базовые цвета, от которых выстраивается вся палитра */ /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */ /* Базовый цвет поверхностей */ /* Проектный цвет, от которого выстраивают акцентные состояния */ /* Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */ /* Цвет ссылок и контролов, от которого выстраиваются все их состояния */ /* Цвет системнный */ /* Цвет тени */ /* Цвет успеха */ /* Цвет ошибки */ /* Цвет предупреждения */ /* Цвет осторожности */ /* Цвет нейтральный */

:root {
  --color-bg-default: rgb(28, 31, 43);
  --color-typo-primary: rgb(215, 226, 242); /* Цвет основного текста */
}

/* stylelint-disable */
.Theme_color_custom {
  /* //////////////////////////////
  // Цвета фонов /////////////// */
  --color-bg-secondary: rgb(255, 255, 255); /* Цвет дефолта */
  --color-bg-brand: rgb(96, 101, 128); /* Цвет фона брендированый */
  --color-bg-link: rgb(48, 53, 73); /* Цвет фона ссылки */
  --color-bg-border: rgba(94, 99, 125, 0.2); /* Цвет границ */
  --color-bg-stripe: rgba(
    72,
    76,
    96,
    0.05
  ); /* Цвет зебры (например, при окрашивании фона строк таблицы через одну) */

  --color-bg-ghost: rgba(72, 76, 96, 0.08); /* Цвет затенения */
  --color-bg-tone: rgba(72, 76, 96, 0.85); /* Цвет паранджи */
  --color-bg-soft: rgba(28, 31, 43, 0.9); /* Цвет молока */
  --color-bg-system: rgb(222, 228, 232); /* Цвет фона системнный */

  --color-bg-normal: rgb(39, 42, 56); /* Цвет фона нейтральный */
  --color-bg-success: rgb(34, 195, 142); /* Цвет фона успеха */
  --color-bg-caution: rgb(242, 201, 76); /* Цвет фона осторожности */
  --color-bg-warning: rgb(247, 147, 30); /* Цвет фона предупреждения */
  --color-bg-alert: rgb(255, 29, 37); /* Цвет фона ошибки */
  --color-bg-critical: rgb(51, 0, 15); /* Цвет фона системнный */

  /* //////////////////////////////
  // Цвета текста ////////////// */
  --color-typo-secondary: rgba(
    215,
    226,
    242,
    0.6
  ); /* Цвет второстепенного текста */
  --color-typo-ghost: rgba(
    215,
    226,
    242,
    0.3
  ); /* Цвет дополнительного текста */
  --color-typo-brand: rgb(96, 101, 128); /* Цвет брендового текста */
  --color-typo-system: rgb(151, 178, 196); /* Цвет фона системнный */

  --color-typo-normal: rgb(26, 30, 50); /* Цвет фона нейтральный */
  --color-typo-success: rgb(9, 179, 123); /* Цвет текста успеха */
  --color-typo-caution: rgb(255, 161, 10); /* Цвет текста осторожности */

  --color-typo-warning: rgb(244, 125, 21); /* Цвет текста предупреждения */

  --color-typo-alert: rgb(250, 0, 8); /* Цвет текста ошибки */
  --color-typo-critical: rgb(51, 0, 15); /* Цвет фона системнный */
  --color-typo-link: rgb(48, 53, 73); /* Цвет основной ссылки */
  --color-typo-link-minor: rgb(36, 36, 36); /* Цвет второстепенной ссылки */
  --color-typo-link-hover: rgb(64, 71, 99); /* Цвет ховера ссылки */

  /* //////////////////////////////
  // Цвета скроллбара ////////////// */
  --color-scroll-bg: rgba(96, 101, 128, 0.06);
  --color-scroll-thumb: rgba(96, 101, 128, 0.24);
  --color-scroll-thumb-hover: rgba(96, 101, 128, 0.32);

  /* /////////////////////////////
  // Цвета контролов /////////// */

  /* Default */
  --color-control-bg-default: rgb(28, 31, 43); /* Цвет фона контрола */
  --color-control-typo-default: rgb(
    215,
    226,
    242
  ); /* Цвет основного текста контрола */
  --color-control-typo-placeholder: rgba(
    215,
    226,
    242,
    0.35
  ); /* Цвет плейсхолдера контрола */
  --color-control-bg-border-default: rgba(
    96,
    101,
    128,
    0.28
  ); /* Цвет фона бордеров котрола */

  --color-control-bg-border-default-hover: rgba(
    96,
    101,
    128,
    0.52
  ); /* Цвет фона бордеров контрола по ховеру */

  --color-control-bg-border-focus: rgb(
    66,
    74,
    102
  ); /* Цвет аутлайна контролов при фокусе */ /* TODO заменить на правило целиком */
  --color-control-bg-focus: rgba(
    48,
    53,
    73,
    0.3
  ); /* Цвет тени в состонии фокуса */
  --color-control-bg-active: rgba(
    48,
    53,
    73,
    0.5
  ); /* Цвет тени в состонии нажатия  */

  /* Primary */
  --color-control-bg-primary: rgb(
    48,
    53,
    73
  ); /* Цвет фона активного контрола */
  --color-control-bg-primary-hover: rgb(
    66,
    74,
    102
  ); /* Цвет фона активного контрола по ховеру */

  --color-control-typo-primary: rgb(255, 255, 255); /* Цвет акцентного текста */
  --color-control-typo-primary-hover: rgb(
    255,
    255,
    255
  ); /* Цвет акцентного текста */

  /* Secondary */
  --color-control-bg-secondary: rgba(
    28,
    31,
    43,
    0
  ); /* Цвет фона бордеров котрола */
  --color-control-bg-border-secondary: rgb(
    48,
    53,
    73
  ); /* Цвет фона бордеров котрола */

  --color-control-bg-border-secondary-hover: rgb(
    66,
    74,
    102
  ); /* Цвет фона бордеров контрола по ховеру */

  --color-control-typo-secondary: rgb(
    48,
    53,
    73
  ); /* Цвет второстепеного текста контрола */

  --color-control-typo-secondary-hover: rgb(
    66,
    74,
    102
  ); /* Цвет акцентного текста */

  /* Ghost */
  --color-control-bg-ghost: rgba(
    96,
    101,
    128,
    0.07
  ); /* Цвет фона дополнительного контрола */

  --color-control-bg-ghost-hover: rgba(
    96,
    101,
    128,
    0.05
  ); /* Цвет фона дополнительного контрола по ховеру */

  --color-control-typo-ghost: rgba(
    247,
    249,
    253,
    0.8
  ); /* Цвет дополнительного текста контрола */

  --color-control-typo-ghost-hover: rgba(
    247,
    249,
    253,
    0.75
  ); /* Цвет акцентного текста */

  /* Clear */
  --color-control-bg-clear: rgba(
    96,
    101,
    128,
    0
  ); /* Цвет фона чистого контрола */
  --color-control-bg-clear-hover: rgba(
    96,
    101,
    128,
    0.05
  ); /* Цвет фона чистого контрола по ховеру */

  --color-control-typo-clear: rgba(
    247,
    249,
    253,
    0.8
  ); /* Цвет акцентного текста */

  --color-control-typo-clear-hover: rgba(
    247,
    249,
    253,
    0.75
  ); /* Цвет акцентного текста */

  /* Disable */
  --color-control-bg-disable: rgba(
    96,
    101,
    128,
    0.07
  ); /* Цвет фона неактивного контрола */
  --color-control-bg-border-disable: rgba(
    96,
    101,
    128,
    0
  ); /* Цвет фона бордеров неактивного контрола */

  --color-control-typo-disable: rgba(
    215,
    226,
    242,
    0.26
  ); /* Цвет основного текста неактивного контрола */

  /* /////////////////////////////
  // Цвета тени /////////// */
  --color-shadow-group-1: rgba(0, 32, 51, 0.02);
  --color-shadow-group-2: rgba(0, 32, 51, 0.16);
  --color-shadow-layer-1: rgba(0, 32, 51, 0.04);
  --color-shadow-layer-2: rgba(0, 32, 51, 0.12);
  --color-shadow-modal-1: rgba(0, 32, 51, 0.04);
  --color-shadow-modal-2: rgba(0, 32, 51, 0.12);
}
/* stylelint-enable */
